viewpoint-estimation/classification/cnn/soft_labels/checkpoints/
viewpoint-estimation/classification/cnn/soft_labels/logs/
viewpoint-estimation/regression/cnn/logs/
viewpoint-estimation/regression/cnn/logs_sin_cos/
CBIR/Imageclef/resized_imgs_class/irmacode.pyc
CBIR/Imageclef/resized_imgs_class/logs/
CBIR/Imageclef/resized_imgs_class/weights*
viewpoint-estimation-3d/__pycache__/
viewpoint-estimation/classification/cnn/one_hot_labels/__pycache__/
viewpoint-estimation/classification/cnn/soft_labels/__pycache__/
viewpoint-estimation/classification/cnn/soft_labels2/__pycache__/
viewpoint-estimation/classification/knn/__pycache__/
viewpoint-estimation/regression/cnn/__pycache__/
viewpoint-estimation/classification/cnn/one_hot_labels_geom_loss/__pycache__/
